@model Com.MrIT.ViewModels.VmStaff
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <form asp-action="Edit" method="post">
            <div class="row">
                <div class="col-sm-4">
                    <label asp-for="Code"></label>
                </div>
                <div class="col-sm-4">
                    <input type="text" asp-for="Code" class="form-control" />
                    <input type="hidden" asp-for="ID" />

                    <input type="hidden" asp-for="SystemActive" />
                    <input type="hidden" asp-for="CreatedBy" />
                    <input type="hidden" asp-for="CreatedOn" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-sm-4">
                    <input type="text" asp-for="Name" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <label asp-for="Address"></label>
                </div>
                <div class="col-sm-4">
                    <input type="text" asp-for="Address" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label asp-for="Active"></label>
                </div>
                <div class="col-sm-4">
                    <input type="checkbox" asp-for="Active" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <h3>Education</h3>

                    <table class="table table-striped" id="tblEducation">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Description</th>
                                <th>Year</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int EducationIndex = 0;
                                if (Model.EducationList != null)
                                {

                                    foreach (var item in Model.EducationList)
                                    {
                                        <tr>
                                            <td>
                                                <input type="hidden" name="EducationList.Index" value="@(EducationIndex)" />
                                                <input type="hidden" name="EducationList[@(EducationIndex)].ID" value="@item.ID" />
                                                <input type="hidden" name="EducationList[@(EducationIndex)].StaffID" value="@item.StaffID" />
                                                <input type="hidden" name="EducationList[@(EducationIndex)].SystemActive" value="@item.SystemActive.ToString()" />
                                                <input type="hidden" name="EducationList[@(EducationIndex)].Active" value="@item.Active.ToString()" />
                                                <input type="hidden" name="EducationList[@(EducationIndex)].CreatedBy" value="@item.CreatedBy" />
                                                <input type="hidden" name="EducationList[@(EducationIndex)].CreatedOn" value="@item.CreatedOn" />
                                                <input type="text" name="EducationList[@(EducationIndex)].Type" value="@item.Type" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" name="EducationList[@(EducationIndex)].Description" value="@item.Description" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="number" name="EducationList[@(EducationIndex)].Year" value="@item.Year" class="form-control" />
                                            </td>
                                            <td>
                                                <button class='btn btn-danger' type='button' title='Remove' onClick='RemoveRow(this)'> X </button>
                                            </td>
                                        </tr>

                                        EducationIndex++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                    <input type="hidden" id="hdTableID" name="hdTableID" value="@EducationIndex" />
                    <button class="btn btn-success" type="button" id="btnNewEducation">New Education</button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>

        </form>
    </div>
</div>

<script>


    $('#btnNewEducation').click(function () {
        var tblID = parseInt($('#hdTableID').val());

        var tagRow = "<tr>";
        tagRow = tagRow + "<td><input type='hidden' name='EducationList.Index' value='" + tblID + "' /> <input type='text' name='EducationList[" + tblID + "].Type' value='' class='form-control' /> <input type='hidden' name='EducationList[" + tblID + "].ID' value='0' /></td>";
        tagRow = tagRow + "<td><input type='text' name='EducationList[" + tblID + "].Description' value='' class='form-control' /> </td>";
        tagRow = tagRow + "<td><input type='number' name='EducationList[" + tblID + "].Year' value='' class='form-control' /> </td>";
        tagRow = tagRow + "<td><button class='btn btn-danger' type='button' title='Remove' onClick='RemoveRow(this)'> X </button></td>";
        tagRow = tagRow + "</tr>";

        $("#tblEducation > tbody").append(tagRow);

        tblID = tblID + 1;
        $("#hdTableID").val(tblID);
    });
    function RemoveRow(obj) {
        $(obj).parent().parent().remove();
    }
</script>